@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Bitter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4em;
  z-index: 999;
  background-color: #f0f0f0;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.8em;
}

.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: #3156bd;
}

section {
  padding: 100px 100px;
}

.main {
  margin-top: 4em;
  background-color: blue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(2, 0, 36);
  padding-right: 200px;
  padding-left: 200px;
  text-align: center;
}

.main h2 {
  color: #fff;
  font-size: 3em;
}

.main h3 {
  color: white;
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0.5em 0;
}

.main h3 span {
  color: steelblue;
}

.main-btn {
  color: white;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  padding: 0.937em 2.1875em;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 0.9375em;
  transition: all ease 0.3s;
  margin: 0.5em 0;
}

.main-btn:hover {
  background-color: #577de8;
  transform: scale(1.07);
}

.social-networks-icons {
  color: white;
  font-size: 1.7em;
  display: flex;
  width: 200px;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 1em auto;
}

.social-networks-icons a {
  color: white;
  text-decoration: none;
  transition: all ease 0.3s;
  font-size: 1.6em;
}

.social-networks-icons a:hover {
  transform: scale(1.1);
}

.tech-stack {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-stack h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
  letter-spacing: 2px;
}

.stack-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 300px;
}

.stack-icons img {
  width: 120px;
  height: 120px;
  padding: 1em;
}
